/* 主内容 */
main{
    height: calc(100% - 35px);
    display: flex;
    align-items: stretch;
}
/* 左侧功能菜单 */
main .aside-left{
    flex-basis: 50px;
    background-color: rgb(51, 51, 51);
    position: relative;
    z-index: 300;
    box-shadow: 2px 30px 10px 10px rgba(30, 30, 30, .3);
}
main .aside-left > .item{
    position: relative;
    cursor: pointer;
    height: 50px;
    text-align: center;
}
/* 选中样式 */
main .aside-left > .item.selected .iconfont,
main .aside-left > .item:hover .iconfont{
    color: rgb(235, 235, 235);
    text-shadow: 0px 0px 3px rgb(235, 235, 235);
}
main .aside-left > .item .iconfont{
    font-size: 26px;
    color: rgb(130, 130, 130);
    line-height: 50px;
    font-style: normal;
}

/* 画布显示区域 */
main > .canvas-wrap{
    position: relative; 
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
}
main > .canvas-wrap .core{
    position: relative;
    flex: 1;
    overflow: hidden;
    /* transition: all .5s; */
}
/* 遮罩层 */
main > .canvas-wrap .core::before{
    content: "";
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(45, 45, 45);
    z-index: 100;
    left: 0;
    top: 0;
    box-sizing: border-box;
    box-shadow: 2px 0px 10px 10px rgba(30, 30, 30, .3),
                0px 2px 10px 10px rgba(30, 30, 30, .3); 
}
/* SVG 画布 */
main > .canvas-wrap .core #canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main > .canvas-wrap .core #canvas > svg{
    display: block;
    background-color: rgb(255, 255, 255);
}

/* 默认设置 */
main > .canvas-wrap .core #canvas > svg .system-rect{
    /* parseInt('ab', 16) 以目标进制为基底, 转换成10进制 */
    fill: hsla(240, 50%, 50%, .4);
    stroke: blueviolet;
    stroke-dasharray: 5 5;
}

/* 辅助线 */
.auxiliary-line.hide{
    display: none;
}
.auxiliary-line > div{
    position: absolute;
    /* 层级不能太高, 得在刻度尺下 */
    z-index: 50;
    background-color: blueviolet;
}
.auxiliary-line > .lineX{
    top: 100px;

    left: 0;
    right: 0;
    height: 1px;
    background-image: linear-gradient(to right,blueviolet, rgb(0, 124, 204));
}
.auxiliary-line > .lineY{
    left: 100px;

    width: 1px;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(blueviolet, rgb(0, 124, 204));
}

/* 刻度 */
main > .canvas-wrap .core #gauge-x,
main > .canvas-wrap .core #gauge-y{
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(45, 45, 45);
}
main > .canvas-wrap .core #gauge-x{
    box-shadow: 0px 2px 10px rgba(30, 30, 30, .3);
}
main > .canvas-wrap .core #gauge-y{
    box-shadow: 2px 0px 10px rgba(30, 30, 30, .3);
}
/* 下方详细信息 */
main > .canvas-wrap .message{
    background-color: rgb(0, 124, 204);
    padding: 3px 10px;
}
main > .canvas-wrap .message .cursor-point{
    font-size: 12px;
}

/* 悬浮窗口 */
main > .canvas-wrap .float-window{
    position: absolute;
    width: 300px;
    height: 200px;
    padding: 2px;
    box-sizing: border-box;
    background-image: linear-gradient(blueviolet, rgb(0, 124, 204));
    background-color: rgb(37, 37, 38);
    /* right: 0; */
    /* bottom: 23px; */
    z-index: 600;
}
main > .canvas-wrap .float-window .selected-ele{
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    /* padding-right: 20px; */
}
main > .canvas-wrap .float-window .item-details{

}
/* 关闭按钮 */
main > .canvas-wrap .float-window .close{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

/* 右侧对象详情 */
main .obj-details.hide{
    flex-basis: 0;
    padding: 0;
    padding-left: 2px;
    overflow: hidden;
}
main .obj-details{
    position: relative;
    z-index: 140;
    padding: 10px;
    width: 180px;
    background-color: rgb(37, 37, 38);
}
main .obj-details .move-posi{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    padding-right:4px;
    background-clip: content-box;
    background-color: blueviolet;
    background-image: linear-gradient(blueviolet, rgb(0, 124, 204));
    cursor: ew-resize;
}